body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #85BDAA , #03AB99);
};
  
  
  .card {
    margin: auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header{
    background-color: #e7f6fc
    font-weight: bold;
    font-family: cursive;



    ;

  }

.card-body{
  background-color: #A5CFE3;
}

  .hidden {
    display: none;
  }
  
  .khodam-result {
    font-weight: bold;
    font-size: 3.2em;
  }
  
.present{
  font-family: cursive;
}
